    1. Write a Python program to add an item to a tuple.

In [33]:
t1 = (1,2,3)
t1Append= t1 + (4,5)
print (t1Append)

(1, 2, 3, 4, 5)

2. Write a Python program to sum all the items in a list.

In [13]:
l1 = [1,2,3,4]
s=0
for i in l1:
    s+=i
print (s)

10

3. Write a Python program to multiply all the items in a list.

In [15]:
p = 1
for j in l1:
    p *= j
print (p)

24

4. Write a Python program to get the smallest number from a list.

In [16]:
print(min(l1))

1

5. Write a Python program to get the largest number from a list.

In [17]:
print(max(l1))

4

6. Write a Python program to count the number of strings from a given list of strings.

In [23]:
S2 = "ahmed"
print(len(l2))

5

7. Write a Python program to clone or copy a list

In [28]:
l2=l1.copy()
print(l2)

[1, 2, 3, 4]

8. Write a Python program to remove item(s) from a given set.

In [31]:
l1.remove(1)
print(l1)

[2, 3, 4]

9. Write a Python program to check if a set is a subset of another set.

In [36]:
s1={1,2,3,3}
s2={4,5,6,7}
print(s1.issubset(s2))

False

10. Write a Python program to remove all elements from a given set.

In [39]:
s2.remove
print(s2)

set()

11. Write a Python program to find the maximum and minimum values in a set.

In [41]:
print(max(s1))
print(min(s1))

3
1

12. Write a Python program to find the index of an item in a tuple.

In [48]:
print(t1.index(1))
print(t1.index(2))
print(t1.index(3))

0
1
2

13. Write a Python program to convert a tuple to a dictionary.

In [50]:
t1

(1, 2, 3)

In [54]:
d1 = {"first number":1,"second number":2,"third number":3}
print(d1)

{'first number': 1, 'second number': 2, 'third number': 3}